body {
  background-image: url("https://user-images.githubusercontent.com/34392374/35192586-d520b0a4-fe95-11e7-8cb4-081c84efb5a1.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Roboto Mono', monospace;
  height: 100vh;
}

.calc {
  background: gray;
  border: 1px solid black;
  box-shadow: 10px 10px 10px;
  height: auto;
  left: 15%;
  margin: 5px;
  padding: 5px;
  position: fixed;
  top: 10%;
  width: 25%;
}

.calc__display {
  background: silver;
  border: 1px solid black;
  margin: 5px;
  padding: 3px;
  text-align: right;
  width: 100%;
}

#jsWorkInProg {
  font-size: 0.7rem;
  height: 1rem;
  overflow: hidden;
}
#jsCurrVal {
  font-size: 2rem;
  font-weight: 700;
  height: 3rem;
  overflow: hidden;
}
#resultTag {
  font-size: 0.7em;
}

.calc__keypad {
  font-size: 1.2rem;
  margin: 5px;
  width: 100%;
}
.calc__keypad :hover {
  cursor: default;
}

.calc__button {
  background: white;
  border: 5px groove;
  padding: 5px;
  text-align: center;
}

.calc__button--execute {
  background: orange;
  color: white;
}

.calc__button--operator {
  background: black;
  color: white;
}

.calc__button--number {
  background: blue;
  color: white;
}

.calc__footer {
  font-size: 0.7rem;
  margin: 1px;
  padding: 1px;
  text-align: right;
  width: 100%;
}
.calc__footer a {
  color: black;
}


/*resizing for mobile*/
@media screen and (max-width: 640px) {
  .calc {
    left: 10%;
    position: fixed;
    top: 5%;
    width: 80%;
  }
  .calc__keypad {
    font-size: 2rem;
  }
  body {
    background-size: cover;
  }
}
